synow
fort.*
fort_flat.11
*.pyc
BranchUV11fe_UVout.dat
SN2014L_2014-02-05_00-00-00_Lijiang-2.4m_YFOSC_None.dat
SN2015L_20140208_fire.dat
example2.py
fort_flat.11.1
fort_flat.11.2
fort_flat.11.ve1
jiawen1-O+Ca.dat
jiawen1-O+Ca_flat.dat
jiawen1.dat
jiawen1_flat.dat
jiawen2-O+Ca.dat
jiawen2-O+Ca_flat.dat
jiawen2.dat
jiawen2_flat.dat
junk.nml
plot_melissa.py
run-Jiawen-reversed.ksh
run-Jiawen.ksh
run11fe_branch_uv.ksh
run_detached.ksh
runhe.ksh
sn12fr.zip
synspec.dat
synspec_flat.dat
today.py
SN2014L_20140208_fire.dat
synow_spectrum.dat
synow_spectrum_flat.dat
synspec_n12.dat
synspec_n12_flat.dat
synspec_n25.dat
synspec_n25_flat.dat
temp.dat
temp_flat.dat
